<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" parallel="classes" name="Test">
    <classes>
      <class name="pagesTestCasesYasasiiWeb.FO_EcounterCreationTestCaseYW"/>
      <class name="pagesTestCasesYasasiiWeb.FO_ERPatient_AdmitAsIP_TestCases"/>
      <class name="pagesTestCasesYasasiiWeb.FO_combinationalPAY_Discprice_TestcaseYW"/>
      <class name="pagesTestCasesYasasiiWeb.FO_Copay_TestCaseYW"/>
      <class name="pagesTestCasesYasasiiWeb.FO_dietitian_appoinment_encounter_TestCaseYW"/>
      <class name="pagesTestCasesYasasiiWeb.FO_EncounterTypes_TestCases_YW"/>
      <class name="pagesTestCasesYasasiiWeb.FO_BirthRegTwoChildTestCaseYW"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
